// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

// Variables
$font-family: "Montserrat", sans-serif;
$background-color-body: #eee;
$text-color: #000;
$swiper-button-color: #0f0e0e;
$logo-gradient-start: rgb(17, 248, 17);
$logo-gradient-end: white;
$logo-border-color: #ddd;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$font-size-body: 16px;
$line-height-body: 1.5;

// Global Styles
* {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color-body;
  font-size: $font-size-body;
  line-height: $line-height-body;
  margin: 0;
  padding: 0.3rem;
  overflow: hidden;
  height: 100vh;
}

// Swiper Styles
.swiper {
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  background: transparent center / contain no-repeat;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;

  p {
    color: $text-color;
    width: 200px;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
    overflow-wrap: anywhere;
    word-break:break-all;
    hyphens: auto;
    white-space: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
}

// Logo Styles
.logo { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  background: linear-gradient($logo-gradient-start, $logo-gradient-end);
  border-bottom: 1px solid $logo-border-color;
  box-shadow: 0 2px 4px $box-shadow-color;
  div {
    width: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1rem;
  }
}

// Swiper Navigation Buttons and Pagination
.swiper-button-next,
.swiper-button-prev {
  color: $swiper-button-color;
}

.swiper-pagination-bullet-active {
  background-color: $swiper-button-color;
}
